@import "tailwindcss";

@layer base {
  body {
    background-color: rgb(248 250 252);
    color: rgb(15 23 42);
    min-height: 100vh;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  @media (prefers-color-scheme: dark) {
    body {
      background-color: rgb(2 6 23);
      color: rgb(248 250 252);
    }
  }
}
